



<div class="dashboard">

    <div class="admin-header">
        <h1>Admin Dashboard</h1>
    </div>
    <div class="admin-section">
        <section class="admin">
            <ul>
                <li>
                    <span class="nav-icon">
                        <i class="fas fa-plus-square"></i>
                    </span>Manage User
                    <ul class="move-right">
                        <a href="#" class="alpha"><li>
                            <span class="nav-icon">
                                <i class="fas fa-minus-square"></i>
                            </span>Add User</li>
                        </a>
                        
                        <a href="#" class="alpha"><li>
                            <span class="nav-icon">
                                <i class="fas fa-minus-square"></i>
                            </span>Edit User</li>
                        </a>
                        <a href="#" class="alpha"><li>
                            <span class="nav-icon">
                                <i class="fas fa-minus-square"></i>
                            </span>View User</li>
                        </a>
                    </ul>
                </li>
                <li>
                    <span class="nav-icon">
                        <i class="fas fa-plus-square"></i>
                    </span>Manage Roles
                    <ul class="move-right">
                        <a href="#" class="alpha"><li>
                            <span class="nav-icon">
                                <i class="fas fa-minus-square"></i>
                            </span>Add Roles</li>
                        </a>
                        <a href="#" class="alpha"><li>
                            <span class="nav-icon">
                                <i class="fas fa-minus-square"></i>
                            </span>View Roles</li>
                        </a>
                    </ul>
                </li>
                <li>
                    <span class="nav-icon">
                        <i class="fas fa-plus-square"></i>
                    </span>My Profile
                    <ul class="move-right">
                        <a href="#" class="alpha"><li>
                            <span class="nav-icon">
                                <i class="fas fa-minus-square"></i>
                            </span>View Profile</li>
                        </a>
                        <a href="#" class="alpha"><li>
                            <span class="nav-icon">
                                <i class="fas fa-minus-square"></i>
                            </span>Edit Profile</li>
                        </a>
                    </ul>
                </li>
            </ul>
        </section>
    </div>

</div>

<!-- Add your code here -->


<!-- End of code -->
