<!-- <footer class="section footer-classic context-dark bg-image" style="background: #2d3246;">
    <div class="container">
        <div class="row row-30">
            <div class="col-md-4 col-xl-5">
                <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light"
                            src="images/agency/logo-inverse-140x37.png" alt="" width="140" height="37"
                            srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
                    <p>We are an extraordinary technology and service delivery company, dedicated to the delivery of the best result in web development,
                        promotion, business consulting, and marketing.</p>
                    <!-- Rights-->
                    <!-- <p class="rights"><span>©  </span><span
                            class="copyright-year">2020</span><span> </span><span>Extraordinary Technology</span><span>. </span><span>All
                            Rights Reserved.</span></p>
                </div>
            </div>
        
            
        </div>
    </div>

</footer> --> 

</body>

</html>