<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Registration System</title>
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="css/styles.css">
</head>



<body>
    <div class="header">
        <div class="logo">
            <span><a href="/index.ejs">
                <img src="/images/scholar.jpg" width="50px" height="50px" alt="Logo"></a>
            </span>
        </div>
        <div class="heading">
            <h1>Course Management System</h1>
        </div>

        <nav>
            <a href="#">Logout</a> |
            <a href="#">Profile</a>
        </nav>
    </div>